# Repo Specific
evoPyLib/demo
evoPyLib/evoPyLib.pyc

# Because OSX Sucks
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Sync Files (For Syncing to my Arduino Folder)
sync.sh
